<p>
  To help you get started building your pages, we've created a basic HTML document which you'll find in the bower package in
  <%= highlight_sass_example('/bower_components/code-club/dist/html') %>
</p>

<p>
  You should copy the contents of this file to wherever your website handles its templates, and edit it accordingly.
</p>

<p>
  You will need to edit the following:
</p>

<ul>
  <li>The page's title and your country name in the <%= highlight_sass_example('<title>') %> element</li>
  <li>Any additional meta data inside the <%= highlight_sass_example('<head>') %> </li>
  <li>Any additional styles your need to include - be sure to include these after the <%= highlight_sass_example('code-club.min.css') %> styles </li>
  <li>Your country name in the Code Club logo</li>
  <li>Your website's main navigation links</li>
  <li>The page's content</li>
  <li>Any additional JavaScripts - again, ideally after the <%= highlight_sass_example('code-club.min.js') %> script</li>
</ul>

<p>
  The navigation banner is already set up to alter responsively based on differing screen widths, so you'll automatically have a
  flexible navigation system, but do be aware of overfilling it with too many links. We've tried to make it as accommodating as possible,
  but there's still a finite amount of space to play with. <strong>Be sure to test your website on as many different devices
  as you can!</strong>
</p>
