
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :section, "Parent Section" %>
      <%= f.collection_select :section_id, Section.order(:order), :id, :title, include_blank: true %>
    </p>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :path %>
      <%= f.text_field :path %>
    </p>

    <p>
      <%= f.label :order %>
      <%= f.text_field :order %>
    </p>

    <%= f.submit %>
  </div>
