<h2>An Overview</h2>

<p>
  Hero blocks sit at the top of some pages across our websites. They act as a way to introduce the
  content below. Hero blocks can vary from a simple block colour to an image background, they can also
  include buttons and download resources (for pages that contain projects).
</p>

<p>
  These blocks are full width, and will always center their content. These examples are width-limited to the size of their parent element,
  but check the <%= link_to "example pages", page_path('layout', 'example-pages') %> to see how they should be used in the context of a full page.
</p>

<p>For countries, a hero block can be made up from the following elements:</p>

<ul>
  <li>A background block, color of <code>$green</code></li>
  <li>Title. A short h1 page heading</li>
  <li>An introductory sentence. Describing briefly the content of the page</li>
  <li>A useful list of button links. For linking to key downloads/resources. Not section navigation (see <%= link_to("Navigation", page_path('structure', 'nav')) %>)</li>
</ul>

<p>Internally, we will have a few extra options:</p>

<ul>
  <li>An alternative background colour</li>
  <li>A background image. Can either stretch or tile. The text must remain legible. Not rendered on mobile devices</li>
</ul>

<%= render_example do %>
<div class="o-hero">
  <div class="c-grid">
    <div class="c-col--12">
      <div class="o-hero__body">
        <h1 class="o-hero__title">Page Title Would Go Here</h1>
      </div>
    </div>
  </div>
</div>
<% end %>

<hr>

<h2>Hero With Top Navigation</h2>

<%= render_example do %>
<div class="o-hero">
  <div class="o-hero__nav">
    <div class="o-hero__nav-left">
      <a href="#" class="o-hero__nav-link">This is a link</a>
      <a href="#" class="o-hero__nav-link">So is this</a>
      <a href="#" class="o-hero__nav-link">Here's another</a>
    </div>
    <div class="o-hero__nav-right">
      <a href="#" class="o-hero__nav-link">Some Other Link</a>
    </div>
  </div>

  <div class="o-hero__body">
    <h1 class="o-hero__title">Page Title Would Go Here</h1>
  </div>
</div>
<% end %>

<hr>

<h2>Hero With Background Image</h2>

<%= render_example do %>
<div class="o-hero">
  <div class="o-hero__body">
    <h1 class="o-hero__title">Page Title Would Go Here</h1>

    <p class="o-hero__subtitle">This hero block has a brief sentence which is great for introducing the content that will feature on the below page.</p>

    <ul class="o-hero__list">
      <li class="o-hero__item"><a href="#" class="c-button c-button--hollow c-button--white">A download</a></li>
      <li class="o-hero__item"><a href="#" class="c-button c-button--hollow c-button--white">A link to a PDF</a></li>
    </ul>
  </div>
</div>
<% end %>
</div>
