<div class="layout margin-double">
  <div class="col col1of1 pad2 bubble">

    <h3>Default table styles</h3>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Project 1: Rock Band</th>
          <th>Project 2: Lost in Space</th>
          <th>Project 3: Ghostbusters</th>
          <th>Project 4: ChatBot</th>
          <th>Project 5: Paint Box</th>
          <th>Project 6: Boat Race</th>
        </tr>
      </thead>
      <tbody class="center">
          <tr><th scope="row">Sequencing</th>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Repetition</th>
          <td></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Variables</th>
          <td></td>
          <td></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Selection</th>
          <td></td>
          <td></td>
          <td></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Boolean Operators</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag 'images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Data Structures</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Functions</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <br>
    <p>Note: This is copied roughly from <a href="https://www.codeclubprojects.org/en-GB/curriculum/">the projects site</a>; how tables work over there are great.</p>

  </div>
</div>

<br>

<h2 class="center">Listings</h2>

<div class="layout">
  <div class="col col1of1 pad2 bubble">

    <h3 class="center">Column listing of links</h3>

    <br>

    <div class="layout">

      <div class="col col1of3">

        <h5>Colors</h5>
        <ul class="simple_list">
          <li><a href="#">Red</a></li>
          <li><a href="#">Blue</a></li>
          <li><a href="#">Turquoise</a></li>
          <li><a href="#">Teal</a></li>
        </ul>

      </div>

      <div class="col col1of3">

        <h5>Planets</h5>
        <ul class="simple_list">
          <li><a href="#">Venus</a></li>
          <li><a href="#">Neptune</a></li>
          <li><a href="#">Saturn</a></li>
          <li><a href="#">Mars</a></li>
        </ul>

      </div>

      <div class="col col1of3">

        <h5>Instruments</h5>
        <ul class="simple_list">
          <li><a href="#">Keyboard</a></li>
          <li><a href="#">Bongos</a></li>
          <li><a href="#">Sitar</a></li>
          <li><a href="#">Saxophone</a></li>
        </ul>

      </div>

    </div>

    <br>

    <p>Use the column layout classes to create a series of text-links in columns. Useful for page footer links.</p>

    <pre><code>&#x3C;div class=&#x22;layout&#x22;&#x3E;

  &#x3C;div class=&#x22;col col1of3&#x22;&#x3E;

    &#x3C;h5&#x3E;Colors&#x3C;/h5&#x3E;
    &#x3C;ul class=&#x22;simple_list&#x22;&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Red&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Blue&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Turquoise&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Teal&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;/ul&#x3E;

  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;col col1of3&#x22;&#x3E;

    &#x3C;h5&#x3E;Planets&#x3C;/h5&#x3E;
    &#x3C;ul class=&#x22;simple_list&#x22;&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Venus&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Neptune&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Saturn&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Mars&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;/ul&#x3E;

  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;col col1of3&#x22;&#x3E;

    &#x3C;h5&#x3E;Instruments&#x3C;/h5&#x3E;
    &#x3C;ul class=&#x22;simple_list&#x22;&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Keyboard&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Bongos&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Sitar&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Saxophone&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;/ul&#x3E;

  &#x3C;/div&#x3E;

&#x3C;/div&#x3E;</code></pre>

    <hr>

    <br>

    <h3 class="center">Row listings </h3>

    <br>

    <ul class="row_listing">
      <li class="layout rule pady1">
        <div class="col2of4">
          <h4>St Mary's Catholic Primary School</h4>
        </div>
        <div class="col1of4 center">
          <span class="meta">0.4 miles away</span>
        </div>
        <div class="col1of4 center">
          <a href="#">Contact Club Host</a>
        </div>
      </li>

      <li class="layout rule pady1">
        <div class="col2of4">
          <h4>Sherwood Library</h4>
        </div>
        <div class="col1of4 center">
          <span class="meta">0.8 miles away</span>
        </div>
        <div class="col1of4 center">
          <a href="#">Contact Club Host</a>
        </div>
      </li>

      <li class="layout rule pady1">
        <div class="col2of4">
          <h4>Hyson Green Primary School</h4>
        </div>
        <div class="col1of4 center">
          <span class="meta">1 mile away</span>
        </div>
        <div class="col1of4 center">
          <a href="#">Contact Club Host</a>
        </div>
      </li>

      <li class="layout rule pady1">
        <div class="col2of4">
          <h4>Westdale Infant School</h4>
        </div>
        <div class="col1of4 center">
          <span class="meta">1.2 miles away</span>
        </div>
        <div class="col1of4 center">
          <a href="#">Contact Club Host</a>
        </div>
      </li>
    </ul>

    <br>

    <p>Row listings are really useful for displaying search results, or any other kind of list where each result has meta data or an action associated with it. The number of columns per list item can be defined using the <code>.layout</code> and <code>.col</code> rules.</p>

    <pre><code>&#x3C;ul class=&#x22;row_listing&#x22;&#x3E;
  &#x3C;li class=&#x22;layout rule pady1&#x22;&#x3E;
    &#x3C;div class=&#x22;col2of4&#x22;&#x3E;
      &#x3C;h4&#x3E;St Mary&#x27;s Catholic Primary School&#x3C;/h4&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;span class=&#x22;meta&#x22;&#x3E;0.4 miles away&#x3C;/span&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22;&#x3E;Contact Club Host&#x3C;/a&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/li&#x3E;

  &#x3C;li class=&#x22;layout rule pady1&#x22;&#x3E;
    &#x3C;div class=&#x22;col2of4&#x22;&#x3E;
      &#x3C;h4&#x3E;Sherwood Library&#x3C;/h4&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;span class=&#x22;meta&#x22;&#x3E;0.8 miles away&#x3C;/span&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22;&#x3E;Contact Club Host&#x3C;/a&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/li&#x3E;

  &#x3C;li class=&#x22;layout rule pady1&#x22;&#x3E;
    &#x3C;div class=&#x22;col2of4&#x22;&#x3E;
      &#x3C;h4&#x3E;Hyson Green Primary School&#x3C;/h4&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;span class=&#x22;meta&#x22;&#x3E;1 mile away&#x3C;/span&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22;&#x3E;Contact Club Host&#x3C;/a&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/li&#x3E;

  &#x3C;li class=&#x22;layout rule pady1&#x22;&#x3E;
    &#x3C;div class=&#x22;col2of4&#x22;&#x3E;
      &#x3C;h4&#x3E;Westdale Infant School&#x3C;/h4&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;span class=&#x22;meta&#x22;&#x3E;1.2 miles away&#x3C;/span&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;col1of4 center&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22;&#x3E;Contact Club Host&#x3C;/a&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>

    <hr>

    <h3 class="center">Content-heading listings (FAQs)</h3>

    <br>

    <div class="faq">

      <div class="section">
        <h4 class="toggle">What is Code Club Pro?</h4>
        <div class="content hidden">
          <p>Code Club Teacher Training is part of Code Club UK, a not-for-profit organisation. We offer training and resources to primary school teachers.</p>
        </div>
      </div>

      <div class="section">
        <h4 class="toggle">What does Code Club Pro do?</h4>
        <div class="content hidden">
          <p>We help to prepare primary school teachers to prepare them for the new computing curriculum. We explain the core computing concepts covered in the curriculum, so that teachers can do what they do best - which is teach.</p>
        </div>
      </div>

      <div class="section">
        <h4 class="toggle">What are your goals?</h4>
        <div class="content hidden">
          <p>We want as many teachers as possible to feel confident, excited and prepared for the new curriculum. It’s quite a big task – there are approximately 200,000 teachers in the UK and we want to help as many as we can. With great supporters behind us, we know we can achieve many things.</p>
        </div>
      </div>

      <div class="section">
        <h4 class="toggle">Why we do it?</h4>
        <div class="content hidden">
          <p>The new computing curriculum came into effect in September 2014 and for the first time primary school teachers will be expected to teach computing to children from 5yrs+.</p>
        </div>
      </div>

    </div>

    <br>

    <pre><code>&#x3C;div class=&#x22;faq&#x22;&#x3E;

  &#x3C;div class=&#x22;section&#x22;&#x3E;
    &#x3C;h4 class=&#x22;toggle&#x22;&#x3E;[Element title]&#x3C;/h4&#x3E;
    &#x3C;div class=&#x22;content hidden&#x22;&#x3E;
      &#x3C;p&#x3E;[content]&#x3C;/p&#x3E;
    &#x3C;/div&#x3E;
  &#x3C;/div&#x3E;

&#x3C;/div&#x3E;</code></pre>

    <hr>

    <h3 class="center">File listings (resources)</h3>

    <ul class="simple_list">
      <li><a href="#" class="link icon document">A file to download</a></li>
      <li><a href="#" class="link icon document">A file to download</a></li>
      <li><a href="#" class="link icon document">A file to download</a></li>
      <li><a href="#" class="link icon document">A file to download</a></li>
    </ul>

    <br>

    <p>Use the <code>.simple_list</code> class combined with icon links (documented at <%= link_to("Buttons", page_path('modules', 'buttons')) %>).</p>

    <pre><code>&#x3C;ul class=&#x22;simple_list&#x22;&#x3E;
  &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22; class=&#x22;link icon document&#x22;&#x3E;A file to download&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22; class=&#x22;link icon document&#x22;&#x3E;A file to download&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22; class=&#x22;link icon document&#x22;&#x3E;A file to download&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22; class=&#x22;link icon document&#x22;&#x3E;A file to download&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>

  </div>
</div>
