<%= render 'shared/section_heading', :title => "How to Use Buttons" %>

<p>Button styles can be applied to standard links or the <%= highlight_sass_example('button') %> element.</p>

<%= render_example do %>
<button class="c-button">Button</button>
<a class="c-button" href="#">Button as Link</a>
<% end %>

<p><strong>You should not use the  <%= highlight_html_example('<input type="button">') %> element</strong>.
  If you need a button in a form, use the <%= highlight_sass_example('button') %> element as shown.</p>

<h3>Some notes on button usage</h3>

<p>Always try to make your button label as descriptive as possible, while also keeping it as short as possible. For example, if you had a button in a form that sent a message to a Code Club host, the text "Contact Host" is much better than "Submit". The user has a much clearer understanding of what will happen when they click the button.</p>

<p>There are several available styles for colouring buttons. They are available to allow you to style buttons in any way you might imagine, but remember to follow these two golden rules:</p>

<ul>
  <li>A page or form's primary action must use the green style.</li>
  <li>Any desctructive actions must use the red style.</li>
</ul>

<p>See below for the full list of colour options.</p>

<hr>

<%= render 'shared/section_heading', :title => "Colouring Buttons" %>

<p>Buttons can be styled with any colour in the palette. Be careful to have appropriate contrast between the color of the button and its background.</p>

<%= render_example do %>
<% colors[:palette].each do |name, value| %>
<p><button class="c-button c-button--<%= name %>"><%= name %> - #<%= value %></button></p>
<% end %>
<% end %>

<hr>

<%= render 'shared/section_heading', :title => "Hollow Buttons" %>

<%= render_example do %>
<% colors[:palette].each do |name, value| %>
<p><button class="c-button c-button--hollow c-button--<%= name %>"><%= name %> - #<%= value %></button></p>
<% end %>
<% end %>

<hr>

<%= render 'shared/section_heading', :title => "Sizing Buttons" %>

<p>
  Buttons come in four sizes. Small, normal, large and extra large. The
</p>

<%= render_example do %>
<p><button class="c-button c-button--small c-button--green">Small Button</button></p>
<p><button class="c-button c-button--green">Normal Button</button></p>
<p><button class="c-button c-button--large c-button--green">Large Button</button></p>
<p><button class="c-button c-button--x-large c-button--green">Extra Large Button</button></p>
<% end %>

<%= render 'shared/section_heading', :title => "Miscellaneous Button Options" %>

<p>Buttons can contain icons, dim when disabled, can have a more squared border radius, and have a couple of sizing options too.</p>
<p>These styles can be mixed-and-matched in a variety of configurations.</p>

<%= render_example do %>
<p>
  <button class="c-button c-button--hollow c-button--green">
    <span class="c-icon c-icon--small c-icon--star c-icon--green"></span>
    Button with an icon
  </button>
</p>
<p>
  <button class="c-button c-button--link" href="#">
    This button looks like a link
  </button>
</p>
<p><a class="c-button c-button--green c-button--disabled" href="#">Disabled button</a></p>
<p><a class="c-button c-button--blue c-button--squared" href="#">A squared button</a></p>
<p><a class="c-button c-button--block" href="#">A button that fills the width of its parent</a></p>
<% end %>

<hr>

<%= render 'shared/section_heading', :title => "Button Groups" %>

<p>Occasionally you may want to provide a toggle or option-based set of buttons. Use a <code>c-button-group</code> to achieve this.</p>

<%= render_example do %>
<% colors[:palette].each do |name, value| %>
<div class="c-button-group c-button-group__center">
  <a class="c-button c-button--<%= name %> c-button__selected" href="#">Button 1</a>
  <a class="c-button c-button--<%= name %>" href="#">Button 2</a>
  <a class="c-button c-button--<%= name %>" href="#">Button 3</a>
</div>
<% end %>
<% end %>
