<%= section_header('Overview') %>

<p>
  Cards are devices that link to a piece content or an action. Housed in a neat
  box-out is a combination of titles, imagery, summary and a direct action links.
</p>

<p>
  Cards will always stretch to fill 100% of their parent container's width. The
  best way to arrange your cards into columns is by using
  <%= link_to 'the grid system provided', page_path('layout', 'grid-system') %>.
</p>

<hr>

<%= section_header('Examples') %>

<p>
  Cards are largely style-agnostic, relying on standard typographical elements
  and component styles in order to build up the contents of each.
</p>

<%= section_header('Basic Cards', :h3) %>

<p>
  There's nothing fancy here. This example shows cards housing standard typographic
  elements.
</p>

<%= render_example do %>
<div class="c-grid">
  <% 3.times do %>
  <div class="c-card c-col c-col--4">
    <div class="c-card__body">
      <h4>Beware of:</h4>

      <ul class="c-list c-list--bulleted">
        <li class="c-list__item c-list__item--bulleted">The dog</li>
        <li class="c-list__item c-list__item--bulleted">The lion</li>
        <li class="c-list__item c-list__item--bulleted">The hulk</li>
      </ul>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<%= section_header('Optional Footers', :h3) %>

<p>
  Useful for search results where a secondary action is possible, or to convey
  meta information if a card's body can be omitted.
</p>

<%= render_example do %>
<div class="c-grid">
  <% 3.times do %>
  <div class="c-card c-col c-col--4">
    <div class="c-card__body">
      <h4>Ada Lovelace</h4>
      <p class="c-meta">0.4 miles away</p>
      <a href="#" class="c-button c-button--hollow c-button--green">Contact Volunteer</a>
    </div>

    <div class="c-card__footer">
      <a class="c-card__link" href="#">Add volunteer to club</a>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<%= render_example do %>
<div class="c-grid">
  <% 3.times do %>
  <div class="c-card c-col c-col--4">
    <div class="c-card__body">
      <h4>St Mary's Catholic Primary School</h4>
      <p class="c-meta">0.4 miles away</p>
    </div>

    <div class="c-card__footer">
      <a class="c-card__link" href="#">Contact Club Host</a>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<hr>

<%= section_header('Course Cards') %>

<p>
  This style of card should be used to linking to resources or similar materials.
  They are one clickable element, with an optional background image and color
  scheme.
</p>

<p>
  There are three primary styles for the Scratch, HTML/CSS and Python courses,
  and one more generic style for any other projects.
</p>

<%= render_example do %>
<div class="c-grid">
  <div class="c-card c-card__course c-card__course--scratch c-col c-col--4">
    <a class="c-card__course-link" href="#">
      <%= image_tag "/assets/code-club/images/project-cards/scratch.svg", :class => "c-card__image" %>
      <span class="c-card__course-title">Scratch</span>
    </a>
    <div class="c-card__footer">32 projects</div>
  </div>

  <div class="c-card c-card__course c-card__course--webdev c-col c-col--4">
    <a class="c-card__course-link" href="#">
      <%= image_tag "/assets/code-club/images/project-cards/webdev.svg", :class => "c-card__image" %>
      <span class="c-card__course-title">HTML & CSS</span>
    </a>
    <div class="c-card__footer">16 projects</div>
  </div>

  <div class="c-card c-card__course c-card__course--python c-col c-col--4">
    <a class="c-card__course-link" href="#">
      <%= image_tag "/assets/code-club/images/project-cards/python.svg", :class => "c-card__image" %>
      <span class="c-card__course-title">Python</span>
    </a>
    <div class="c-card__footer">24 projects</div>
  </div>
</div>
<% end %>

<%= section_header('Generic Course Cards') %>

<p>The following are examples only. <strong>The following logos are not included in the downloadable styles</strong>.</p>

<%= render_example do %>
<div class="c-grid">
  <div class="c-card c-card__course c-col c-col--4">
    <a href="#"><%= image_tag "/assets/images/course-twsu.png", :class => "c-card__image" %></a>
    <div class="c-card__footer">4 projects</div>
  </div>

  <div class="c-card c-card__course c-col c-col--4">
    <a href="#"><%= image_tag "/assets/images/course-microbit.png", :class => "c-card__image" %></a>
    <div class="c-card__footer">4 projects</div>
  </div>

  <div class="c-card c-card__course c-col c-col--4">
    <a href="#"><%= image_tag "/assets/images/course-code-kingdoms.png", :class => "c-card__image" %></a>
    <div class="c-card__footer">4 projects</div>
  </div>
</div>
<% end %>

<hr>

<%= section_header('Project Cards') %>

<p>
  The following cards are for linking to individual projects within your courses.
  The biggest difference is that they contain a banner image, but other than that
  they're assembled in much the same way as basic cards, with the content being
  comprised of generic typographical elements where possible.
</p>

<p>
  <strong>The images used here are for the purposes of this example. They will
  not be included in the downloadable assets.</strong>
</p>

<%= render_example do %>
<div class="c-grid">
  <div class="c-card c-col c-col--4">
    <%= image_tag "/assets/images/project_123.png", :class => "c-card__image" %>

    <div class="c-card__body">
      <div class="c-meta">Project 1</div>
      <div class="u-h3">Teaching Turtles</div>
      <p>Learn more about drawing with the turtle.</p>
      <a class="c-button c-button--green c-button--hollow" href="#">Start</a>
    </div>
  </div>

  <div class="c-card c-col c-col--4">
    <%= image_tag "/assets/images/project_turtle.png", :class => "c-card__image" %>

    <div class="c-card__body">
      <div class="c-meta">Project 2</div>
      <div class="u-h3">Turtles</div>
      <p>Learn how to use a turtle to draw awesome shapes and patterns.</p>
      <a class="c-button c-button--green c-button--hollow" href="#">Start</a>
    </div>
  </div>

  <div class="c-card c-col c-col--4">
    <%= image_tag "/assets/images/project_maze.png", :class => "c-card__image" %>

    <div class="c-card__body">
      <div class="c-meta">Project 3</div>
      <div class="u-h3">RPG</div>
      <p>Design and code your own RPG maze game.</p>
      <a class="c-button c-button--green c-button--hollow" href="#">Start</a>
    </div>
  </div>
</div>
<% end %>
