<%= render 'shared/section_heading', :title => "Standalone Logomark" %>

<%= render_example do %>
<div class="c-logo">
  <a href="#" class="c-logo__link">
    <img src="/assets/code-club/images/code-club-logo.svg" alt="" class="c-logo__image">
  </a>
</div>
<% end %>
<hr>

<%= render 'shared/section_heading', :title => "Logomark with Text" %>

<%= render_example do %>
<div class="c-logo">
  <a href="#" class="c-logo__link">
    <img src="/assets/code-club/images/code-club-logo.svg" alt="" class="c-logo__image">
    <div class="c-logo__appendix">United Kingdom</div>
  </a>
</div>
<% end %>
<hr>

<%= render 'shared/section_heading', :title => "Logomark with Stacked Text" %>

<%= render_example do %>
<div class="c-logo c-logo--stacked">
  <a href="#" class="c-logo__link">
    <img src="/assets/code-club/images/code-club-logo.svg" alt="" class="c-logo__image c-logo__image--stacked">
    <div class="c-logo__appendix c-logo__appendix--stacked">United Kingdom</div>
  </a>
</div>
<% end %>
