<h2>Available Icons</h2>

<p>The basic icon takes the following form:</p>

<p><%= highlight_html_example('<span class="c-icon c-icon--ICON-NAME-HERE"></span>') %></p>

<p>Where you see "ICON NAME HERE" in the above example, replace that text with one of the following values:</p>

<ul class="sg-icon-list">
  <% for icon in icons %>
    <li class="sg-icon-list__item">
      <span class="c-icon c-icon--<%= icon %>"></span>
      <%= highlight_sass_example(icon) %></code>
    </li>
  <% end %>
</ul>

<hr>

<h2>Colouring Icons</h2>

<p>
  Each icon in the above is provided in six colours from our colour palette. The default is shown above, and does not
  require an additional HTML class to show it. The other colours are as follows:
</p>

<ul>
  <li><%= highlight_sass_example('.c-icon--white') %></li>
  <li><%= highlight_sass_example('.c-icon--green') %></li>
  <li><%= highlight_sass_example('.c-icon--blue') %></li>
  <li><%= highlight_sass_example('.c-icon--red') %></li>
</ul>

<%= render_example do %>
<span class="c-icon c-icon--star c-icon--green"></span>
<span class="c-icon c-icon--star c-icon--blue"></span>
<span class="c-icon c-icon--star c-icon--red"></span>
<% end %>
<hr>

<h2>Sizing icons</h2>

<p>The default icon size is equivalent to 20px in width and height. The following modifiers are available for altering icon sizes:</p>

<ul>
  <li><%= highlight_sass_example('.c-icon--x-small') %></li>
  <li><%= highlight_sass_example('.c-icon--small') %></li>
  <li><%= highlight_sass_example('.c-icon--large') %></li>
  <li><%= highlight_sass_example('.c-icon--x-large') %></li>
</ul>

<%= render_example do %>
<span class="c-icon c-icon--star c-icon--x-small"></span>
<span class="c-icon c-icon--star c-icon--small"></span>
<span class="c-icon c-icon--star"></span>
<span class="c-icon c-icon--star c-icon--large"></span>
<span class="c-icon c-icon--star c-icon--x-large"></span>
<% end %>

<hr>

<h2>Combining Colours and Sizes</h2>

<p>
  As you might expect, the classes that control the size and colour of the icons can be mixed up in any combination you like, but remember
  that you can only specify one colour and one size, otherwise you may end up with unexpected results.
</p>

<%= render_example do %>
<span class="c-icon c-icon--calendar c-icon--blue c-icon--small"></span>
<span class="c-icon c-icon--projects c-icon--red c-icon--x-large"></span>
<span class="c-icon c-icon--tick-circle c-icon--green"></span>
<span class="c-icon c-icon--video-play c-icon--x-small"></span>
<span class="c-icon c-icon--feedback c-icon--large"></span>
<% end %>
