<div class="sg-panel">
  <h2>Available icons</h2>

  <p>The Code Club icon set is a set of SVG images, with HTML classes for sizing.</p>

  <ul class="c-list c-list--plain">
    <% for icon in icons %>
      <li class="c-list__item c-list__item--plain"><span class="c-icon"><%= image_tag "images/icons/#{icon}.svg", :alt => '', :class => 'c-icon__image' %></span> <code><%= icon %></code></li>
    <% end %>
  </ul>

  <hr>

  <h2>Sizing icons</h2>

  <p>The default icon size is equivalent to 20px in width and height. The following modifiers are available for altering icon sizes:</p>

  <ul>
    <li><code>.c-icon--x-small</code></li>
    <li><code>.c-icon--small</code></li>
    <li><code>.c-icon--large</code></li>
    <li><code>.c-icon--x-large</code></li>
  </ul>

  <div class="sg-example">
    <h3 class="sg-example__heading">Example</h3>

    <p>
      <span class="c-icon c-icon--x-small"><%= image_tag "images/icons/star.svg", :alt => '', :class => 'c-icon__image' %></span>
      <span class="c-icon c-icon--small"><%= image_tag "images/icons/star.svg", :alt => '', :class => 'c-icon__image' %></span>
      <span class="c-icon"><%= image_tag "images/icons/star.svg", :alt => '', :class => 'c-icon__image' %></span>
      <span class="c-icon c-icon--large"><%= image_tag "images/icons/star.svg", :alt => '', :class => 'c-icon__image' %></span>
      <span class="c-icon c-icon--x-large"><%= image_tag "images/icons/star.svg", :alt => '', :class => 'c-icon__image' %></span>
    </p>

    <code class="sg-example__code">
      &lt;span class="c-icon c-icon--x-small"&gt;&lt;img alt="" class="c-icon__image" src="/assets/images/icons/star.svg"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon c-icon--small"&gt;&lt;img alt="" class="c-icon__image" src="/assets/images/icons/star.svg"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon"&gt;&lt;img alt="" class="c-icon__image" src="/assets/images/icons/star.svg"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon c-icon--large"&gt;&lt;img alt="" class="c-icon__image" src="/assets/images/icons/star.svg"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon c-icon--x-large"&gt;&lt;img alt="" class="c-icon__image" src="/assets/images/icons/star.svg"&gt;&lt;/span&gt;<br>
    </code>
  </div>
</div>
