<div class="layout margin-double">
  <div class="col col1of1 pad2 bubble">

    <h3>Default table styles</h3>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Project 1: Rock Band</th>
          <th>Project 2: Lost in Space</th>
          <th>Project 3: Ghostbusters</th>
          <th>Project 4: ChatBot</th>
          <th>Project 5: Paint Box</th>
          <th>Project 6: Boat Race</th>
        </tr>
      </thead>
      <tbody class="center">
          <tr><th scope="row">Sequencing</th>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Repetition</th>
          <td></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Variables</th>
          <td></td>
          <td></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Selection</th>
          <td></td>
          <td></td>
          <td></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Boolean Operators</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
          <td><%= image_tag '/assets/code_club/images/icons/tick.svg', :class => "icon" %></td>
        </tr>
        <tr>
          <th scope="row">Data Structures</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Functions</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <br>
    <p>Note: This is copied roughly from <a href="https://www.codeclubprojects.org/en-GB/curriculum/">the projects site</a>; how tables work over there are great.</p>

  </div>
</div>
