<h2>How to use the Logomark</h2>

<div class="sg-fig-desc">
  <figure class="sg-fig-desc__figure">
    <%= image_tag '/assets/images/brand_1.svg', :class => 'sg-fig-desc__image' %>
  </figure>

  <div class="sg-fig-desc__description">
    <h3>General usage</h3>

    <ul>
      <li>Don't alter logo colours or text</li>
      <li>Don't interrupt or overlay the circle mark with text or images</li>
      <li>Always place the circle mark on a plain background, either <code>$white</code> or <code>$grey-dark</code></li>
    </ul>
  </div>
</div>

<div class="sg-fig-desc">
  <figure class="sg-fig-desc__figure">
    <%= image_tag '/assets/images/brand_2.svg', :class => 'sg-fig-desc__image' %>
  </figure>

  <div class="sg-fig-desc__description">
    <h3>Size and spacing</h3>

    <ul>
      <li>Allow 10% whitespace around the circle mark</li>
      <li>Minimum size for web: 60x60 pixels</li>
    </ul>
  </div>
</div>

<div class="sg-fig-desc">
  <figure class="sg-fig-desc__figure">
    <%= image_tag '/assets/images/brand_3.svg', :class => 'sg-fig-desc__image' %>
  </figure>

  <div class="sg-fig-desc__description">
    <h3>Circle mark with appendix</h3>

    <ul>
      <li>Minimum circle size: 60x60 pixels</li>
      <li>Text size at 60x60: 18px</li>
      <li>Text should scale up with circle</li>
      <li>Text colour should be the same green as the circle mark</li>
    </ul>
  </div>
</div>

<div class="sg-fig-desc">
  <figure class="sg-fig-desc__figure">
    <%= image_tag '/assets/images/brand_4.svg', :class => 'sg-fig-desc__image' %>
  </figure>

  <div class="sg-fig-desc__description">
    <h3>Stacked appendix usage</h3>

    <ul>
      <li>Minimum circle size: 60x60 pixels</li>
      <li>Text size at 60x60: 12px</li>
      <li>Text should scale up with circle</li>
    </ul>
  </div>
</div>

<div class="sg-fig-desc">
  <figure class="sg-fig-desc__figure">
    <%= image_tag '/assets/images/brand_5.svg', :class => 'sg-fig-desc__image' %>
  </figure>

  <div class="sg-fig-desc__description">
    <ul>
      <li>Text flows to multiple lines if it exceeds the width of the circle by 25%</li>
      <li>Relative leading: 1.2em</li>
    </ul>
  </div>
</div>

<hr>

<h2>Using the Logo as a Favicon</h2>

<p>
  Each Code Club website must use the green Code Club logomark as its <a href="https://en.m.wikipedia.org/wiki/Favicon">favicon</a>.
  Additionally, the Code Club logomark must also be used in cases where mobile devices require an icon for bookmarking purposes.
</p>

<p>
  The assets package contains two images for these purposes. To use them, ensure that the following HTML is include in your documents'
  <code>&lt;head&gt;</code> element.
</p>

<code class="sg-example__code">
  &lt;link rel="shortcut icon" href="/bower_components/code-club/dist/images/favicons/favicon.ico"&gt;<br>
  &lt;link rel="apple-touch-icon-precomposed" href="bower_components/code-club/dist/images/favicons/icon.png"&gt;<br>
  &lt;meta name="msapplication-TileColor" content="#F5F6F9"&gt;<br>
  &lt;meta name="msapplication-TileImage" content="/bower_components/code-club/dist/images/favicons/icon.png"&gt;<br>
  &lt;link rel="icon" href="/bower_components/code-club/dist/images/favicons/icon.png" sizes="32x32"&gt;
</code>
