<div class="sg-panel">
  <h2>Logo Pack</h2>

  <p>The Code Club logo pack contains all the variations of the Code Club logo in a number of useful formats.</p>

  <p>
    <a href="#" class="c-button icon document">
      Download Code Club logo pack
    </a>
  </p>
</div>

<div class="sg-panel">
  <h2>How to use the Logo</h2>

  <div class="sg-fig-desc">
    <figure class="sg-fig-desc__figure">
      <%= image_tag '/assets/images/brand_1.svg', :class => 'sg-fig-desc__image' %>
    </figure>

    <div class="sg-fig-desc__description">
      <h3>General usage</h3>

      <ul>
        <li>Don't alter logo colours or text</li>
        <li>Don't interupt or overlay the circle mark with text or images</li>
        <li>Always place the circle mark on a plain background, either <code>$white</code> or <code>$dark-grey</code></li>
      </ul>
    </div>
  </div>

  <div class="sg-logo-usage">
    <figure class="sg-fig-desc__figure">
      <%= image_tag '/assets/images/brand_2.svg', :class => 'sg-fig-desc__image' %>
    </figure>

    <div class="sg-fig-desc__description">
      <h3>Size and spacing</h3>

      <ul>
        <li>Allow 10% whitespace around the circle mark</li>
        <li>Minimum size for web: 60x60 pixels</li>
      </ul>
    </div>
  </div>

  <div class="sg-logo-usage">
    <figure class="sg-fig-desc__figure">
      <%= image_tag '/assets/images/brand_3.svg', :class => 'sg-fig-desc__image' %>
    </figure>

    <div class="sg-fig-desc__description">
      <h3>Circle mark with appendix</h3>

      <ul>
        <li>Minimum circle size: 60x60 pixels</li>
        <li>Text size at 60x60: 18px</li>
        <li>Text should scale up with circle</li>
        <li>Text colour should be the same green as the circle mark</li>
      </ul>
    </div>
  </div>

  <div class="sg-logo-usage">
    <figure class="sg-fig-desc__figure">
      <%= image_tag '/assets/images/brand_4.svg', :class => 'sg-fig-desc__image' %>
    </figure>

    <div class="sg-fig-desc__description">
      <h3>Stacked appendix usage</h3>

      <ul>
        <li>Minimum circle size: 60x60 pixels</li>
        <li>Text size at 60x60: 12px</li>
        <li>Text should scale up with circle</li>
      </ul>
    </div>
  </div>

  <div class="sg-logo-usage">
    <figure class="sg-fig-desc__figure">
      <%= image_tag '/assets/images/brand_5.svg', :class => 'sg-fig-desc__image' %>
    </figure>

    <div class="sg-fig-desc__description">
      <ul>
        <li>Text flows to multiple lines if it exceeds the width of the circle by 25%</li>
        <li>Relative leading: 1.2em</li>
      </ul>
    </div>
  </div>
</div>
