<div class="sg-panel">
	<h2>Greyscale Palette</h2>

	<%= render :partial => "pages/_partials/color_swatches", :locals => { :colors => @colors[:greyscale] } %>

	<h2>Interaction colours</h2>

	<h3>Highlights</h3>

	<%= render :partial => "pages/_partials/color_swatches", :locals => { :colors => @colors[:highlights] } %>

	<h3>Code Club Green / Success Messages / Default Links</h3>

	<%= render :partial => "pages/_partials/color_swatches", :locals => { :colors => @colors[:success] } %>

	<h3>Warnings</h3>

	<%= render :partial => "pages/_partials/color_swatches", :locals => { :colors => @colors[:warning] } %>

	<h3>Error Messages / Danger Indication</h3>

	<%= render :partial => "pages/_partials/color_swatches", :locals => { :colors => @colors[:danger] } %>
</div>
