<div class="layout">
  <div class="bubble pad2 col col1of1">

    <dl class="margin-double">
      <li>
        <dt>Page Alerts</dt>
        <dd>These sit directly below the primary navigation and are used to notify the user of page-load event, such as a form success or error. They cannot be used with hero blocks.</dd>
      </li>
      <li>
        <dt>Inline Alerts</dt>
        <dd>Inline alerts can be used within the content areas, such as in forms. They can be used to highlight a certain requirement or action before the user commits.</dd>
      </li>
    </dl>

    <p>Alerts carry four different types of message: Success, information, warning or error. These four states each feature a different colour and a different icon.</p>

  </div>
</div>

<br><br><br>

<h3 class="center">Page alerts</h3>

<div class="alert success">
  <%= image_tag 'images/icons/tick-circle-white.svg' %>
  This is a success alert.
</div>

<br>

<div class="alert info">
  <%= image_tag 'images/icons/info-fill-white.svg' %>
  This is an information alert.
</div>

<br>

<div class="alert warning">
  <%= image_tag 'images/icons/warning-orange.svg' %>
  This is a warning message.
</div>

<br>

<div class="alert error">
  <%= image_tag 'images/icons/error-white.svg' %>
  This is an error. Please enter the correct information so we can continue.
</div>

<br><br><br>

<div class="layout">
  <div class="bubble pad2 col col1of1">

    <pre><code>&#x3C;div class=&#x22;alert success&#x22;&#x3E;
    &#x3C;%= image_tag &#x27;images/icons/tick-circle-white.svg&#x27; %&#x3E;
    This is a success alert.
  &#x3C;/div&#x3E;</code></pre>

    <pre><code>&#x3C;div class=&#x22;alert info&#x22;&#x3E;
    &#x3C;%= image_tag &#x27;images/icons/info-fill-white.svg&#x27; %&#x3E;
    This is an information alert.
  &#x3C;/div&#x3E;</code></pre>

    <pre><code>&#x3C;div class=&#x22;alert warning&#x22;&#x3E;
    &#x3C;%= image_tag &#x27;images/icons/warning-orange.svg&#x27; %&#x3E;
    This is a warning message.
  &#x3C;/div&#x3E;</code></pre>

    <pre><code>&#x3C;div class=&#x22;alert error&#x22;&#x3E;
    &#x3C;%= image_tag &#x27;images/icons/error-white.svg&#x27; %&#x3E;
    This is an error. Please enter the correct information so we can continue.
  &#x3C;/div&#x3E;</code></pre>

  </div>
</div>

<br><br>

<div class="layout">
  <div class="bubble pad2 col col1of1">

    <h3 class="center">Inline alerts</h3>

<div class="alert success inline">
  <%= image_tag 'images/icons/tick-circle-white.svg' %>
  This is a success alert.
</div>

<br><br>

<pre><code>&#x3C;div class=&#x22;alert success inline&#x22;&#x3E;
  &#x3C;%= image_tag &#x27;images/icons/tick-circle-white.svg&#x27; %&#x3E;
  This is a success alert.
&#x3C;/div&#x3E;</code></pre>

<div class="alert info inline">
  <%= image_tag 'images/icons/info-fill-white.svg' %>
  This is an information alert.
</div>

<br><br>

<pre><code>&#x3C;div class=&#x22;alert info inline&#x22;&#x3E;
  &#x3C;%= image_tag &#x27;images/icons/info-fill-white.svg&#x27; %&#x3E;
  This is an information alert.
&#x3C;/div&#x3E;</code></pre>

<div class="alert warning inline">
  <%= image_tag 'images/icons/warning-orange.svg' %>
  This is a warning message.
</div>

<br><br>

<pre><code>&#x3C;div class=&#x22;alert warning inline&#x22;&#x3E;
  &#x3C;%= image_tag &#x27;images/icons/warning-orange.svg&#x27; %&#x3E;
  This is a warning message.
&#x3C;/div&#x3E;</code></pre>

<div class="alert error inline">
  <%= image_tag 'images/icons/error-white.svg' %>
  This is an error. Please enter the correct information so we can continue.
</div>

<br><br>

<pre><code>&#x3C;div class=&#x22;alert error inline&#x22;&#x3E;
  &#x3C;%= image_tag &#x27;images/icons/error-white.svg&#x27; %&#x3E;
  This is an error. Please enter the correct information so we can continue.
&#x3C;/div&#x3E;</code></pre>

  </div>
</div>
