<%= render 'shared/section_heading', :title => "Round corners" %>

<p>Add one of these classes to make corners round:</p>

<%= render_example do %>

<div class="c-grid">

<% extract_classes_from_file('_rounded-corners.scss').each do |class_name|  %>
  <div class="c-col c-col--1 u-background--green <%= class_name %>">&nbsp;</div>
<% end %>

</div>

<% end %>

<%= render 'shared/section_heading', :title => "Element visibility" %>

<%= render_example do %>

<div class="c-grid">

<% extract_classes_from_file('_element-visibility.scss').each do |class_name|  %>
  <div class="c-col c-col--1 u-background--green <%= class_name %>">Text</div>
<% end %>

</div>

<% end %>

<%= render 'shared/section_heading', :title => "Clearfix" %>

<p>
  You can add clearfix using <%= highlight_sass_example(".u-clearfix") %>
</p>

<%= render 'shared/section_heading', :title => "Element Alignment" %>

<p>Use <%= highlight_sass_example(".u-align-vert") %> to vertically align elements.<p>
