<h2>Text Modifications</h2>

<p>To change text size:</p>

<%= render_example do %>
<ul>
<% extract_classes_from_file('_font-sizing.scss').each do |class_name|  %>
  <li class="<%= class_name %>">Text</li>
<% end %>
</ul>
<% end %>


<p>To change text color:</p>

<%= render_example do %>
<ul>
<% extract_classes_from_file('_text-color.scss').each do |class_name|  %>
  <li class="<%= class_name %>">Text</li>
<% end %>
</ul>
<% end %>


<p>To transform text:</p>

<%= render_example do %>
<ul>
<% extract_classes_from_file('_text-transformation.scss').each do |class_name|  %>
  <li class="<%= class_name %>">Text</li>
<% end %>
</ul>
<% end %>


<p>To change text weight:</p>

<%= render_example do %>
<ul>
<% extract_classes_from_file('_text-weight.scss').each do |class_name|  %>
  <li class="<%= class_name %>">Text</li>
<% end %>
</ul>
<% end %>

<p>To change text alignment:</p>

<%= render_example do %>
<div class="c-grid">
<% extract_classes_from_file('_text-alignment.scss').each do |class_name|  %>
  <div class="c-col c-col--4 u-background--green <%= class_name %>">Text</div>
<% end %>
</div>
<% end %>
