<!DOCTYPE html>
<html>
  <head>
  	<%= render 'shared/head' %>
  </head>

  <body class="sg-body <%= body_class %>">
    <%= render 'shared/navigation' %>

    <main class="sg-content-wrapper">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
