<!DOCTYPE html>
<html>
  <head>
  	<%= render 'shared/head' %>
  </head>

  <body class="example">
    <div class="body_wrap">
      <header id="nav_pri">
      	<h1 class="brand">
          <%= link_to :home do %>
      		  <span>Code Club</span> <small>Example menu layout</small>
          <% end %>
      	</h1>

      	<nav class="pri">
      		<ul>
      			<li>
              <%= link_to "Back to #{@back_page.title}", page_path(@back_page.section.path, @back_page.path) %>
            </li>
      		</ul>
      	</nav>
      </header>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
